<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Example of macaddress-applet.</title>
    </head>
    <body>
        <!--[if !IE]> Firefox and others will use outer object -->
    <embed type="application/x-java-applet"
           name="macaddress_applet"
           width="0"
           height="0"
           code="MacAddressApplet"
           archive="macaddressapplet.jar"
           pluginspage="http://java.sun.com/javase/downloads/index.jsp"
           style="position:absolute; top:-1000px; left:-1000px;">
        <noembed>
            <!--<![endif]-->
            <!---->
            <object classid="clsid:CAFEEFAC-0016-0000-FFFF-ABCDEFFEDCBA"
                    type="application/x-java-applet"
                    name="macaddress_applet"
                    style="position:absolute; top:-1000px; left:-1000px;">
                <param name="code" value="MacAddressApplet">
                <param name="archive" value="macaddressapplet.jar" >
                <param name="mayscript" value="true">
                <param name="scriptable" value="true">
                <param name="width" value="0">
                <param name="height" value="0">
            </object>
            <!--[if !IE]> Firefox and others will use outer object -->
        </noembed>
    </embed>
    <!--<![endif]-->

    <script type="text/javascript">
        function show_macaddresses(){
            if ( typeof(document.macaddress_applet.isActive) == "undefined" )
            {
                document.write( "Unable to detect MAC addresses." );
            }
            else
            {
                var interfaces = eval( String( document.macaddress_applet.getInterfacesJSON() ) );
                var interface_string = "";

                for( var idx = 0; idx < interfaces.length; idx++ )
                {
                    var tmp = interfaces[idx].split(";");
                    interface_string += "NIC " + (idx+1) + ": " + tmp[1] + " (" + tmp[0] + ")<br />\n ";
                }

                if ( interface_string.length > 0 )
                {
                    document.write( "Detected MAC addresses:<br />" );
                    document.write( interface_string );
                }
            }
        }
        show_macaddresses();
    </script>
</body>
</html>